<footer class="footer">
    <div class="container">
        <div class="row bordered-top">

            <div class="footer-left col">
                <div class="row">
                    <div class="col">
                        <div class="theme-switcher" id="theme-switcher">
                            <span class="theme-text">Сменить режим</span>
                            <span class="theme-icons">
                                <span class="theme-icon-sun">☀️</span>
                                <span class="theme-icon-moon">🌙</span>
                            </span>
                        </div>
                    </div>

                    <div class="col">
                        <div class="footer-links-container">
                            <a href="#"> Какие-то ссылки для приличия</a>
                            <a href="#"> Какие-то ссылки для неприличия</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer-right col">
                <div class="row">
                    <div class="col">
                        <div class="footer-links-container">
                            <a href="#"> Какие-то ссылки для приличия</a>
                            <a href="#"> Какие-то ссылки для неприличия</a>
                        </div>
                    </div>

                    <div class="col">
                        <div class="rights">
                            <p class="currentYear">  .</p>
                            <p> All Rights Reserved</p>
                        </div>
                    </div>
                </div>
                
                
            </div>

        </div>  
    </div>
</footer>