<div class="navigation">
    <nav class="nav">
        <div class="container nav bordered-bottom">
            <div class="nav-left">
                <!-- Оказывается, chota в nav img делает max-height 3rem, я 30 минут потратил, пока пытался понять, почему не могу нормально размер иконки определить. -->
                <img src="/assets/Ivanko11rus-icon__little.svg" class="" alt="Иконка автора" style="width: 45px; height: 50px; max-height: none;">
                <span class="text-center is-center is-vertical-align" style="padding-left: 3px;"> Ivanko11Rus </span>
            </div>
            <div class="nav-center">
                <span class="text-center is-center is-vertical-align">Made with <a href="https://jenil.github.io/chota/" style="padding: 0 5.5px 0 5.5px" target="_blank" rel="noopener noreferrer">Chota</a></span>
            </div>
            <div class="nav-right">
                <a class="button outline dark" href="#" style="margin-top: 1.5rem; margin-bottom: 1.5rem;">Связь с администратором</a>
            </div>
        </div>
    </nav>
</div>